<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jdte.friendmatch.api.mapper.ExcelDataMapper" >
	<resultMap id="BaseResultMap" type="jdte.friendmatch.api.pojo.UserPO" >
		<id column="ID" property="id" jdbcType="INTEGER" />
		<result column="BATCH_ID" property="batchId" jdbcType="INTEGER" />
		<result column="ORDER_ID" property="orderId" jdbcType="BIGINT" />
		<result column="CNODE_ARRIVAL_TIME" property="cnodeArrivalTime" />
		<result column="CNODE_ORDER_TIME" property="cnodeOrderTime" />
		<result column="CBATCH_BEGIN_TIME" property="cbatchBeginTime" />
		<result column="CNODE_SEQUENCE" property="cnodeSequence" jdbcType="INTEGER" />
		<result column="BEGIN_TIME" property="beginTime" />
		<result column="END_TIME" property="endTime" />
		<result column="PHARMACY_ID" property="pharmacyId" jdbcType="INTEGER" />
	</resultMap>

    <sql id="all_personal_habit_column">
    	PH_TELPHONE,PH_NAME,PH_SEX,PU_TIMETAG,PU_AREA,PH_DIFFSEX,
    	PH_SINGLE,PH_SAMEROOM,PH_SUBWAY,PH_RIDE,PH_PRICE,
    	PH_CENTER,PH_ANIMAL,PH_MUSIC,PH_WORKSTATION,PH_GAME,
    	PH_TABLEGAME,PH_TOURISM,PH_HEALTH,PH_FOOD,PH_QUIET,
    	PH_SKILL,PH_QQWECHAR,PH_JOB,PH_OPEN
    </sql>
   <insert id="setUserDao" parameterType="jdte.friendmatch.api.pojo.UserPO">
   		<selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
			SELECT LAST_INSERT_ID() as id
		</selectKey>
   		INSERT INTO PERSONAL_HABIT(<include refid="all_personal_habit_column"/>)
   		VALUES (#{phTelphone},#{phName},#{phSex},#{phTimetag},#{phArea},#{phDiffsex},#{phSingle},
   				#{phSameroom},#{phSubway},#{phRide},#{phPrice},#{phCenter},#{phAnimal},
   				#{phMusic},#{phWorkstation},#{phGame},#{phTablegame},#{phTourism},#{phHealth},
   				#{phFood},#{phQuiet},#{phSkill},#{phQQWechar},#{phJob},#{phOpen})
   </insert>
 </mapper>